.streetlight-base {
  background-color: black;
  padding: 10px;
  width: 100px;
  box-sizing: border-box;
}

.light {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
  background-color: gray;
}

.light-red.light-on {
  background-color: red;
}

.light-yellow.light-on {
  background-color: yellow;
}

.light-green.light-on {
  background-color: green;
}
